# dependencies
/node_modules

# misc
.DS_Store
Desktop.ini
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# project specific files
/coverage
/dist
/build

# Thumbnails
._*

.env

node_modules
logs
